@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* custom font */
  --font-clash-display: "Clash Display", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* custom colors */
  --color-green: #16a34a;
  --color-blue: #0f172a;
}

@layer components {
  .section-container {
    @apply mx-auto w-full max-w-7xl px-6 py-12 md:px-8 md:py-16 lg:px-12;
  }
}